@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;

  
}

.volcano{
      top: -27.5vw;
      left: 26.5vw
}

.shield {
  top: -4.4vw;
  left: 17.3vw;
}

.statue {
  top: -31vw;
  left: -13.4vw;
}